
body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1 {
    margin: 0;
    padding-top: 15px;
}

header {
    height: 150px;
    background-color: lightskyblue;
    padding: .85em;
    color: black;
}

.icon {
    float: left;
    margin: 0px 15px 15px 0px;
    width: 150px;
    height: 150px;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

.btn-outline-secondary {
    color: white;
}

.ready {
    color: lightgreen;
}

th {
    font-size: 1.4em;
}